{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}



    <h1>Inscription</h1>
    <br>
    {{ form_start(registrationForm) }}

    <div class="p-5 content-form" style="width: 800px; background-color: whitesmoke; text-align: center; position: relative; left: 20%">

        <div>


            <div class="form-group mb-4">
                {{ form_label(registrationForm.email, 'Mail', {'label_attr': {'class': 'text-right'}}) }}
                {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control mt-2'} }) }}
            </div>



            <div class="form-group mb-4">

                {{ form_label(registrationForm.plainPassword, 'Mot de Passe', {'label_attr': {'class': 'text-right'}}) }}
                {{ form_widget(registrationForm.plainPassword,{'attr': {'class': 'form-control mt-2'} }) }}

            </div>

            <div class="form-group mb-4">
                {{ form_label(registrationForm.roles, 'Choisir un rôle', {'label_attr': {'class': 'text-right'}}) }}
                {{ form_row(registrationForm.roles) }}


            </div>
            {{ form_row(registrationForm.agreeTerms) }}

        </div>
        <br>
        <button type="submit" class="btn btn-dark">Enregitrer</button>
    </div>
    <br><br>

    {{ form_end(registrationForm) }}





{% endblock %}



