{{ form_start(form) }}

<div class="p-5" style="width: 800px; background-color: whitesmoke">

    <div>
        <div class="form-group mb-4">
            {{ form_label(form.id_user, 'Choisir un client', {'label_attr': {'class': 'text-right'}}) }}
            {{ form_row(form.id_user, {'attr': {'class': 'form-control mt-2'}}) }}

            {{ form_label(form.id_fichier, 'Nom du fichier', {'label_attr': {'class': 'text-right'}}) }}
            {{ form_row(form.id_fichier, {'attr': {'class': 'form-control mt-2'}}) }}


            <br><br>
            <div class="form-group">
                {{ form_label(form.nom_fichier, 'Insérer un fichier', {'label_attr': {'class': 'text-right'}}) }}
                {{ form_row(form.nom_fichier, {'attr': {'class': 'form-control mt-2', 'type': 'type'}}) }}

            </div>

            <button class="btn btn-dark" type="submit">{{ button_label|default('Enregistrer') }}</button>


        </div>
    <br><br>

    {{ form_end(form) }}
